<!-- start: FOOTER -->
<section class="footer-copyright">
    <div class="reseller-block"> More ways to shop: Visit an
        <a href="#">Apple Store</a>, <span class="nowrap">call 1-800-MY-APPLE, or
            <a href="https://locate.apple.com/" target="_blank">find a reseller</a>
        </span>.
    </div>

    <div class="pull-left">
        <div class="licence">
            <span>Copyright </span> &copy; {{app.year}} <a href="http://ua.linkedin.com/pub/valentyn-grekulov/62/334/47" target="_blank"><span class="text-bold text-uppercase">{{ app.author }}</span></a>. <span>All rights reserved</span>
        </div>
        <a class="footer-link" href="#">Privacy Policy</a>
        <a class="footer-link" href="#">Terms of Use</a>
        <a class="footer-link" href="#">Sales and Refunds</a>
        <a class="footer-link" href="#">Legal</a>
        <a class="footer-link" href="#">Site Map</a>
    </div>
</section>
<!-- end: FOOTER -->