<!-- start: PRE-FOOTER -->
<div class="pre-footer" id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pre-footer-col">
                <h3>Product</h3>
                <ul>
                    <li><a href="#">Experiences</a></li>
                    <li><a href="#">Gear VR</a></li>
                    <li><a href="#">Rift</a></li>
                    <li><a href="#">Touch</a></li>
                    <li><a href="#">Oculus Ready PCs</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pre-footer-col">
                <h3>Developers</h3>
                <ul>
                    <li><a href="#">Developer Center</a></li>
                    <li><a href="#">Docs</a></li>
                    <li><a href="#">Downloads</a></li>
                    <li><a href="#">Tools</a></li>
                    <li><a href="#">Developer Blog</a></li>
                    <li><a href="#">Developer Forums</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pre-footer-col">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Press Kit</a></li>
                    <li><a href="#">Story Studio</a></li>
                    <li><a href="#">Oculus Connect</a></li>
                    <li><a href="#">Research</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pre-footer-col">
                <h3>Community</h3>
                <ul>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">Order History</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end: PRE-FOOTER -->